---
import HomeTimeline from "@/components/HomeTimeline.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="container">Home</section>

  <HomeTimeline />

  <section class="container">
    <hr />
    <p style="margin-top: 2rem">
      Download the CV as a PDF &rarr; <a
        class="underline"
        href="/documents/CV_english.pdf"
        download="CV_Andreas_Hell.pdf">download</a
      >
    </p>
  </section>
</BaseLayout>
