---
import HomeCareer from "@/components/HomeCareer.astro";
import HomeHero from "@/components/HomeHero.astro";
import HomeProjects from "@/components/HomeProjects.astro";
import HomeSkills from "@/components/HomeSkills.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <HomeHero />

  <hr style="margin: 1.5rem 0" />

  <HomeCareer />

  <div class="container">
    <hr class="separator" />
  </div>

  <HomeProjects />

  <div class="container">
    <hr class="separator" />
  </div>

  <HomeSkills />

  <section class="container">
    <hr class="separator" />
    <p style="margin-top: 2.5rem">
      Download the CV as a PDF &rarr; [<a
        class="underline"
        href="/documents/CV_english.pdf"
        download="CV_Andreas_Hell.pdf">en</a
      >][<a class="underline" href="/documents/CV_deutsch.pdf" download="CV_Andreas_Hell.pdf">de</a
      >]
    </p>
  </section>
</BaseLayout>

<style>
  .separator {
    margin: 1.5rem -1.5rem;
  }

  /* Mobile breakpoint */
  @media (max-width: 740px) {
    .separator {
      margin: 1.5rem -1rem;
    }
  }
</style>
