---
import HomeTimeline from "@/components/HomeTimeline.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="container">Home</section>

  <HomeTimeline />
</BaseLayout>
