---

---

<nav>
    <img src="/favicon/favicon.svg" alt="icon" width="48" />
    <h1>Andreas Hell</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/skills">Skills</a>
    <a href="/career">Career</a>
    <a href="/projects">Projects</a>
</nav>

<style>
    nav {
        display: flex;
        flex-direction: row;
    }
</style>