---
import type { Project } from "@/data/projects.ts";
import ProjectCard from "@/components/ProjectCard.astro";

interface Props {
  projects: Project[];
  linkable?: boolean;
}

const { projects, linkable = false } = Astro.props;
---

<div class="project-list container">
  {projects.map((project) => <ProjectCard project={project} linkable={linkable} />)}
</div>

<style>
  .project-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.5rem;
  }
</style>
