---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { projects, sortProjects } from "@/data/projects.ts";
import ProjectList from "@/components/ProjectList.astro";
---

<BaseLayout>
  <section class="container">
    <h1>Projects</h1>
    <p>A collection of projects from work, education, and personal work.</p>
  </section>

  <ProjectList projects={sortProjects(projects)} />
</BaseLayout>